<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eveniet, fugiat odio perferendis architecto temporibus adipisci placeat repellat tempora natus?</p>
    </div>

</section>