<section class="card">
    <div class="card-body">
        <h1>Nosotros</h1>
        <p>Aplicación que tiene permite crear un usuario, logearse y visualizar distintas notas que uno puede crear, editar y también eliminar.
            Bienvenido !
        </p>
    </div>

</section>