{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="successAlert">
    {{success_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
    // Agregar este script para cerrar la alerta automáticamente después de un tiempo
    setTimeout(function() {
        var successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.remove();
        }
    }, 5000); // 5000 ms = 5 segundos, ajusta según tus preferencias
</script>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="successAlert">
    {{error_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
    // Agregar este script para cerrar la alerta automáticamente después de un tiempo
    setTimeout(function() {
        var successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.remove();
        }
    }, 5000); // 5000 ms = 5 segundos, ajusta según tus preferencias
</script>
{{/if}}